.header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

h2{
    text-decoration: underline;
    font-size: 25px;
}

p{font-weight: bold;
    font-size: 18px;
}

a{
    padding: 20px;
}

body{
    background-color: #faf9f6;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    border: 5px solid black;
    margin: 20px;
    padding: 5px;
}
    
.centeredlist{
    padding-left: 0;
    list-style-position: outside;
    margin: 0 auto;
    display: table;
    text-align: left;
}

.content {
    color: #333333;
    padding: 20px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.footer {
    background-color: lightgray;
    color: black;
    padding: 15px;
    text-align: right;
  }